<head>
  <meta charset="utf-8" />
  <!-- <title>Log In | FoodSpot - Responsive Admin Dashboard Template</title> -->
  <title>FoodSpot - Responsive Admin Dashboard Template</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="Coderthemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="../assets/images/favicon.ico">

  




 
 <!-- Plugins css -->
  <link href="/dist/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
  <link href="/dist/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
  
 <!-- App css -->
 <link href="/dist/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
 <link href="/dist/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

 <link href="/dist/assets/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
 <link href="/dist/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />
 <!-- icons -->
 <link href="/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

 <link href="/dist/assets/css/app.css" rel="stylesheet" type="text/css" />

</head>


